sudo: required

services:
  - docker

env:
  - PHP_VERSION=5.4.0
  - PHP_VERSION=5.4.1
  - PHP_VERSION=5.4.2
  - PHP_VERSION=5.4.3
  - PHP_VERSION=5.4.4
  - PHP_VERSION=5.4.5
  - PHP_VERSION=5.4.6
  - PHP_VERSION=5.4.7
  - PHP_VERSION=5.4.8
  - PHP_VERSION=5.4.9
  - PHP_VERSION=5.4.10
  - PHP_VERSION=5.4.11
  - PHP_VERSION=5.4.12
  - PHP_VERSION=5.4.13
  - PHP_VERSION=5.4.14
  - PHP_VERSION=5.4.15
  - PHP_VERSION=5.4.16
  - PHP_VERSION=5.4.17
  - PHP_VERSION=5.4.18
  - PHP_VERSION=5.4.19
  - PHP_VERSION=5.4.20
  - PHP_VERSION=5.4.21
  - PHP_VERSION=5.4.22
  - PHP_VERSION=5.4.23
  - PHP_VERSION=5.4.24
  - PHP_VERSION=5.4.25
  - PHP_VERSION=5.4.26
  - PHP_VERSION=5.4.27
  - PHP_VERSION=5.4.28
  - PHP_VERSION=5.4.29
  - PHP_VERSION=5.4.30
  - PHP_VERSION=5.4.31
  - PHP_VERSION=5.4.32
  - PHP_VERSION=5.4.33
  - PHP_VERSION=5.4.34
  - PHP_VERSION=5.4.35
  - PHP_VERSION=5.4.36
  - PHP_VERSION=5.4.37
  - PHP_VERSION=5.4.38
  - PHP_VERSION=5.4.39
  - PHP_VERSION=5.4.40
  - PHP_VERSION=5.4.41
  - PHP_VERSION=5.4.42
  - PHP_VERSION=5.4.43
  - PHP_VERSION=5.4.44
  - PHP_VERSION=5.4.45 LATEST_MINOR=5.4
  - PHP_VERSION=5.5.0
  - PHP_VERSION=5.5.1
  - PHP_VERSION=5.5.2
  - PHP_VERSION=5.5.3
  - PHP_VERSION=5.5.4
  - PHP_VERSION=5.5.5
  - PHP_VERSION=5.5.6
  - PHP_VERSION=5.5.7
  - PHP_VERSION=5.5.8
  - PHP_VERSION=5.5.9
  - PHP_VERSION=5.5.10
  - PHP_VERSION=5.5.11
  - PHP_VERSION=5.5.12
  - PHP_VERSION=5.5.13
  - PHP_VERSION=5.5.14
  - PHP_VERSION=5.5.15
  - PHP_VERSION=5.5.16
  - PHP_VERSION=5.5.17
  - PHP_VERSION=5.5.18
  - PHP_VERSION=5.5.19
  - PHP_VERSION=5.5.20
  - PHP_VERSION=5.5.21
  - PHP_VERSION=5.5.22
  - PHP_VERSION=5.5.23
  - PHP_VERSION=5.5.24
  - PHP_VERSION=5.5.25
  - PHP_VERSION=5.5.26
  - PHP_VERSION=5.5.27
  - PHP_VERSION=5.5.28
  - PHP_VERSION=5.5.29
  - PHP_VERSION=5.5.30
  - PHP_VERSION=5.5.31
  - PHP_VERSION=5.5.32
  - PHP_VERSION=5.5.33
  - PHP_VERSION=5.5.34
  - PHP_VERSION=5.5.35
  - PHP_VERSION=5.5.36
  - PHP_VERSION=5.5.37 LATEST_MINOR=5.5
  - PHP_VERSION=5.6.0
  - PHP_VERSION=5.6.1
  - PHP_VERSION=5.6.2
  - PHP_VERSION=5.6.3
  - PHP_VERSION=5.6.4
  - PHP_VERSION=5.6.5
  - PHP_VERSION=5.6.6
  - PHP_VERSION=5.6.7
  - PHP_VERSION=5.6.8
  - PHP_VERSION=5.6.9
  - PHP_VERSION=5.6.10
  - PHP_VERSION=5.6.11
  - PHP_VERSION=5.6.12
  - PHP_VERSION=5.6.13
  - PHP_VERSION=5.6.14
  - PHP_VERSION=5.6.15
  - PHP_VERSION=5.6.16
  - PHP_VERSION=5.6.17
  - PHP_VERSION=5.6.18
  - PHP_VERSION=5.6.19
  - PHP_VERSION=5.6.20
  - PHP_VERSION=5.6.21
  - PHP_VERSION=5.6.22
  - PHP_VERSION=5.6.23
  - PHP_VERSION=5.6.24
  - PHP_VERSION=5.6.25
  - PHP_VERSION=5.6.26
  - PHP_VERSION=5.6.27
  - PHP_VERSION=5.6.28
  - PHP_VERSION=5.6.29 LATEST_MINOR=5.6 LATEST_MAJOR=5
  - PHP_VERSION=7.0.0
  - PHP_VERSION=7.0.1
  - PHP_VERSION=7.0.2
  - PHP_VERSION=7.0.3
  - PHP_VERSION=7.0.4
  - PHP_VERSION=7.0.5
  - PHP_VERSION=7.0.6
  - PHP_VERSION=7.0.7
  - PHP_VERSION=7.0.8
  - PHP_VERSION=7.0.9
  - PHP_VERSION=7.0.10
  - PHP_VERSION=7.0.11
  - PHP_VERSION=7.0.12
  - PHP_VERSION=7.0.13
  - PHP_VERSION=7.0.14 LATEST_MINOR=7.0 LATEST_MAJOR=7 LATEST=true

before_install:
  - sudo apt-get update -y --allow-unauthenticated
  - sudo DEBIAN_FRONTEND=noninteractive apt-get install -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confnew" docker-engine

before_script:
  - docker build --force-rm=true --build-arg PHP_VERSION=${PHP_VERSION} -t deeky666/php:${PHP_VERSION} .

  - docker run deeky666/php:${PHP_VERSION} -v
  - docker run deeky666/php:${PHP_VERSION} -d extension=pdo.so -d extension=pdo_sqlite.so -m
  - docker run deeky666/php:${PHP_VERSION} -d extension=pdo.so -d extension=pdo_pgsql.so -m
  - docker run deeky666/php:${PHP_VERSION} -d extension=pdo.so -d extension=pdo_mysql-libmysql.so -m
  - docker run deeky666/php:${PHP_VERSION} -d extension=pdo.so -d extension=mysqlnd.so -d extension=pdo_mysql-mysqlnd.so -m
  - docker run deeky666/php:${PHP_VERSION} -d extension=sqlite3.so -m
  - docker run deeky666/php:${PHP_VERSION} -d extension=mysqli-libmysql.so -m
  - docker run deeky666/php:${PHP_VERSION} -d extension=mysqlnd.so -d extension=mysqli-mysqlnd.so -m

  - if [[ ! -z "$TRAVIS_TAG" && ! -z "$LATEST_MINOR" ]]; then docker tag deeky666/php:${PHP_VERSION} deeky666/php:${LATEST_MINOR}; fi
  - if [[ ! -z "$TRAVIS_TAG" && ! -z "$LATEST_MAJOR" ]]; then docker tag deeky666/php:${PHP_VERSION} deeky666/php:${LATEST_MAJOR}; fi
  - if [[ ! -z "$TRAVIS_TAG" && ! -z "$LATEST" ]]; then docker tag deeky666/php:${PHP_VERSION} deeky666/php:latest; fi
  - if [ ! -z "$TRAVIS_TAG" ]; then docker login -e="$DOCKER_EMAIL" -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"; fi
  - if [ ! -z "$TRAVIS_TAG" ]; then docker push deeky666/php; fi

script: true

matrix:
  fast_finish: true
  allow_failures:
    - env: PHP_VERSION=5.4.0 # won't compile with libxml2 >= 2.9
    - env: PHP_VERSION=5.4.1 # won't compile with libxml2 >= 2.9
    - env: PHP_VERSION=5.4.2 # won't compile with libxml2 >= 2.9
    - env: PHP_VERSION=5.4.3 # won't compile with libxml2 >= 2.9
    - env: PHP_VERSION=5.4.4 # won't compile with libxml2 >= 2.9
    - env: PHP_VERSION=5.4.5 # won't compile with libxml2 >= 2.9
    - env: PHP_VERSION=5.4.6 # won't compile with libxml2 >= 2.9
